Repository SocialGouv/code-du-travail-numerique, pull requests merged in 2018-10, with the labels that each got.

#156 revert(css): add watch on start
  packages/code-du-travail-css/package.json
  yarn.lock
Labels: :package: css, enhancement

#153 improv(all): correct linting issues
  package.json
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/server/conf/cors.js
  packages/code-du-travail-api/src/server/conf/elasticsearch.js
  packages/code-du-travail-api/src/server/data_sources/code_du_travail_numerique.js
  packages/code-du-travail-api/src/server/index.js
  packages/code-du-travail-api/src/server/routes/api.js
  packages/code-du-travail-frontend/.eslintrc.js
  packages/code-du-travail-frontend/package.json
  packages/code-du-travail-frontend/src/common/SeeAlso.js
  packages/code-du-travail-frontend/src/data/L2253.js
  packages/code-du-travail-frontend/src/data/articles.js
  packages/code-du-travail-frontend/src/data/fiches.js
  packages/code-du-travail-frontend/src/data/themes-ordering.js
  packages/code-du-travail-ui/.eslintrc.js
  packages/code-du-travail-ui/package.json
  yarn.lock
Labels: :package: frontend

#152 feat(courrier-type): index standart mail
  docker-compose.override.dev.yml
  packages/code-du-travail-data/dataset/courrier-type/README.md
  packages/code-du-travail-data/dataset/courrier-type/courriers.json
  packages/code-du-travail-data/dataset/courrier-type/docx/Modèle_Recu_solde_de_tout_compte.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/Modèle_certificat_de_travail.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/Modèle_demande_paiement_salaire_salarié.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/Modèle_fin_période_essai-initiative_du_salarié.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/Modèle_fin_période_essai-initiative_employeur.docx
  packages/code-du-travail-data/dataset/courrier-type/docx/Modèle_renouvellement_période_essai-initiative_employeur.docx
  packages/code-du-travail-data/dataset/courrier-type/index.js
  packages/code-du-travail-data/dataset/courrier-type/package.json
  packages/code-du-travail-data/search/indexing/create_indexes.py
  packages/code-du-travail-frontend/README.md
Labels: :package: frontend

#147 feat(courrier-type): add page and search for standard mail
  packages/code-du-travail-api/package.json
  packages/code-du-travail-api/src/server/index.js
  packages/code-du-travail-api/src/server/routes/api.js
  packages/code-du-travail-data/dataset/courrier-type/index.js
  packages/code-du-travail-data/dataset/export-courriers.json
  packages/code-du-travail-data/search/indexing/create_indexes.py
  packages/code-du-travail-frontend/pages/modeles-de-courriers.js
  packages/code-du-travail-frontend/routes.js
  packages/code-du-travail-frontend/src/sources.js
  yarn.lock
Labels: :package: data

#151 docs: add usage documentation
  README.md
Labels: :package: frontend
